@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

$base-blue-color: #44546a;
$base-white-color: #fff;

.personal-informations {
    background-color: $base-blue-color;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: 100%;
    .me-picture-holder {
        width: 15rem;
        margin: 0.5rem auto;
        img {
            width: 100%;
            height: auto;
        }
    }

    .arrow-decoration {
        margin: -3.5rem auto 0.5rem auto;
        background-color: $base-white-color;
        height: 13rem;
        width: 100%;
        clip-path: polygon(0 0, 0 15%, 50% 100%, 100% 15%, 100% 0, 50% 80%);
    }

    .about-me {
        margin: 0 1rem auto 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $base-white-color;

        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            border-bottom: 5px solid #d5dce4;
        }
        p {
            font-size: 0.9rem;
            margin: 1rem auto;
            text-align: justify;
            font-weight: 600;
        }
    }
}

.main-informations {
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    width: 100%;
    max-width: 45rem;
    .header {
        width: 100%;
        height: 7.5rem;
        background-color: $base-blue-color;
        color: $base-white-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        h4 {
            font-family: Calibri, "Trebuchet MS", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    .cv-content-title {
        font-family: Calibri, "Trebuchet MS", sans-serif;
        margin: .5rem auto 0.5rem 5px;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $base-blue-color;
        border-bottom: 2px solid $base-blue-color;
        width: 100%;
        text-align: left;
    }

    .work-experience {
        display: flex;
        flex-direction: column;

        .company {
            margin: 0.3rem auto 0 4rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
        .job {
            margin: 0 auto 0.1rem 8rem;
        }

        .firsthand-job {
            margin: 0.1rem auto 0.1rem 8rem;
            cursor: pointer;
            &:visited {
                color: #181819;
            }
        }
    }

    .technology-skills {
        img {
            width: 4rem;
            height: auto;
            margin: 0 1rem;
        }

        .development-side{
            font-family: Calibri, "Trebuchet MS", sans-serif;
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $base-blue-color;
            width: 100%;
        }
    }

    .education{
        display: flex;
        flex-direction: column;

        .education-date{
            font-family: Calibri, "Trebuchet MS", sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $base-blue-color;
            width: 100%;
        }

        .education-school{
            font-weight: bold;
        }
    }
}
